{{i-initialize}}
<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper center">
        <a class="page-title">SquareSquare</a>
      </div>
    </div>
  </nav> 
  <div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="mdi-navigation-menu"></i>
    </a>
  </div>

  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo primary-bg">
    
      <a id="logo-container"  href="#!" class="brand-logo center">
        <object id="front-page-logo" type="image/svg+xml" data="white-red.svg">Your browser does not support SVG</object>
      </a>
    </li>

    <li class="bold">
      {{#link-to 'squares' class="waves-effect waves-red"}}Squares{{/link-to}}</li>
    <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
  </ul>

</header>
<div class="main-body container">
  {{outlet}}
</div>