{{i-initialize}}
<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper center">
        <a class="page-title">SquareSquare</a>
      </div>
    </div>
  </nav> 
  <div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="mdi-navigation-menu"></i>
    </a>
  </div>

  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo primary-bg">
      <a id="logo-container"  href="#!" class="brand-logo center">
        <object id="front-page-logo" type="image/svg+xml" data="white-red.svg">Your browser does not support SVG</object>
      </a>
    </li>

    <li class="bold sidenav-link first-li">
      {{#link-to 'squares' class="waves-effect waves-bright-red"}}Squares{{/link-to}}
    </li>
  {{#link-to 'squares.new' class="left btn-floating btn-large waves-effect waves-light add-square primary-bg"}}
  <div>
    <i class="mdi-content-add"></i>
  </div>
  {{/link-to}}

    <li class="bold sidenav-link">
      {{#link-to 'squares.new' class="waves-effect waves-bright-red"}}Add a square{{/link-to}}
    </li>
  </ul>

</header>
<div class="main-body container">
  {{outlet}}
</div>